/Shevaverse/Shevacoin/SafeMath.sol
/Shevaverse/Shevacoin/IERC20Internal.sol
/Shevaverse/Shevaplatform/.idea
/Shevaverse/Shevaplatform/.next
/Shevaverse/Shevaplatform/node_modules
/Shevaverse/Shevaplatform/.env.local
/Shevaverse/Shevaplatform/package-lock.json
/Shevaverse/Shevaplatform/yarn.lock
